## Happy Hare MMU hardware config file with config for unknown
[mcu mmu]
canbus_uuid: 0725d4b1b2dd # Config guess. Run ls -l /dev/serial/by-id and set manually	# Change to `canbus_uuid: 1234567890` for CANbus setups

[temperature_sensor MMU]
sensor_type: temperature_mcu
sensor_mcu: mmu
min_temp: 0
max_temp: 100

# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS.
# The names match those referenced in the mmu_hardware.cfg file. If you get into difficulty
# you can also comment these alisas and configure the pin names directly into mmu_hardware.cfg.
#
[board_pins mmu]
mcu: mmu # Assuming using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART=gpio9,
    MMU_GEAR_STEP=gpio7,
    MMU_GEAR_DIR=gpio8,
    MMU_GEAR_ENABLE=gpio6,
    MMU_GEAR_DIAG=gpio23,
    MMU_SEL_UART=gpio0,
    MMU_SEL_STEP=gpio2,
    MMU_SEL_DIR=gpio1,
    MMU_SEL_ENABLE=gpio3,
    MMU_SEL_DIAG={selector_diag_pin},
    MMU_SEL_ENDSTOP=gpio20,
    MMU_SERVO=gpio21,
    MMU_ENCODER=gpio15,
    MMU_CUTTING_SERVO=gpio14,
    MMU_SYNC_FEEDBACK_TENSION=gpio27,
    MMU_SYNC_FEEDBACK_COMPRESSION=gpio26,
#    MMU_GATE_SENSOR={gate_sensor_pin},
#    MMU_NEOPIXEL={neopixel_pin},


[mcu pico_mmu]
canbus_uuid: db89b018ff8f

#[output_pin pico_led]
#pin: pico_mmu:gpio25

[temperature_sensor pico_MMU]
sensor_type: temperature_mcu
sensor_mcu: pico_mmu
min_temp: 0
max_temp: 100

[board_pins pico_mmu]
mcu: pico_mmu
aliases:
    MMU_PRE_GATE_0=gpio6,
    MMU_PRE_GATE_1=gpio7,
    MMU_PRE_GATE_2=gpio8,
    MMU_PRE_GATE_3=gpio9,
    MMU_PRE_GATE_4=gpio10,
    MMU_PRE_GATE_5=gpio12,
    MMU_PRE_GATE_6=gpio13,
    MMU_PRE_GATE_7=gpio14,
    MMU_PRE_GATE_8=gpio15,
    MMU_PRE_GATE_9=gpio16,
    MMU_PRE_GATE_10=gpio17,
    MMU_PRE_GATE_11=gpio18,
    MMU_NEOPIXEL=gpio28,
    